<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jeopardy | Game #{{gameID}}</title>

    <script>
      const questionData = {{questionData}};

      var team1Score = 0;
      var team2Score = 0;
      var team3Score = 0;

      function initTeams(t1, t2, t3) {
        team1Score = t1;
        team2Score = t2;
        team3Score = t3;

        updateScores();
      }

      function setContent(content) {
        let contentTd = document.getElementById('question-content');
        if (content == "question") {
          contentTd.innerHTML = questionData.question;
        } else if (content == "answer") {
          contentTd.innerHTML = questionData.answer;
        } else {
          contentTd.innerHTML = "No content";
        }
      }

      function teamAnswered(team, isCorrect) {
        if (team == 1) {
          team1Score += questionData.value * (isCorrect ? 1 : -1);
        } else if (team == 2) {
          team2Score += questionData.value * (isCorrect ? 1 : -1);
        } else if (team == 3) {
          team3Score += questionData.value * (isCorrect ? 1 : -1);
        }
        
        if (isCorrect) { setContent("answer");}
      }

      function updateScores() {
        document.getElementById('team0Score').innerHTML = team1Score;
        document.getElementById('team1Score').innerHTML = team2Score;
        document.getElementById('team2Score').innerHTML = team3Score;
      }


      function init() {
        setContent("question");

        team1Score = document.getElementById('team0Score').innerHTML;
        team2Score = document.getElementById('team1Score').innerHTML;
        team3Score = document.getElementById('team2Score').innerHTML;
      }

    </script>

    <style>
      body {
        background-color: #000066;
      }

      .board-background {
        background-color: #060CE9;
      }

      table#question {
        width: 70%;
        margin-left: auto;
        margin-right: auto;

        table-layout: fixed;
      }

      

      

      


    </style>
  </head>
  <body onload="bodyInit()">


    <div id="board-parent">
      <table id="question">
        <tr> <td id="question-content" colspan="9" onclick="setContent(`answer`)"></td> </tr>
        <tr> {{ teamData }} </tr>
      </table>
    </div>


    <script>
      function bodyInit() {
        init();
      }
    </script>


  </body>
</html>